xgboost
http://github.com/SamuelMarks/ml-params/zipball/master#egg=ml_params
http://github.com/SamuelMarks/ml-params-sklearn/zipball/master#egg=ml_params_sklearn
http://github.com/SamuelMarks/ml-prepare/zipball/master#egg=ml_prepare
